@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
/*general*/
.container{
    border: solid;
}
.wrapper{
    border: solid  red;
    padding: 0 10px;
}
/*text*/
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
/*headings*/
h1{
    font-size: 3em;
    color: #aaa;
    font-weight: bold;
}
h2{
    font-size: 2.5em;
    color: #aaa;
    font-weight: bold;
}
h3{
    font-size: 2em;
    color: #aaa;
    font-weight: bold;
}
h4{
    font-size: 1.75em;
    color: #aaa;
    font-weight: bold;
}
h5{
    font-size: 1.5em;
    color: #aaa;
    font-weight: bold;
}
h6{
    font-size: 1.25em;
    color: #aaa;
    font-weight: bold;
}
/*links*/
a{
    color: #5B0004;
}
a:hover{
    color: #d69e08;

}
a:visited{
    color: #d69e08;

}
a:active{
    color: #d69e08;

}
/*Top Navtion*/

/*Main content*/

/*secondary Nav*/

/*footer*/
